
      <!-- Body -->
      <div>
      <!--Left Half  -->
        <div id="leftHalf"></div>
      
      <!-- Right Half -->
        <div id="rightHalf"></div>
      
      <!-- Banner Statement -->
        <div class="box">
        <img src="/stylesheets/worm2.png" class="center bannerBorder">This is worm.
        your personal digital library
        </div>
      </h1>
    </div>
</body>
</html>